*{
	font-family: Microsoft YaHei;
}
div{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-size: 12px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	height: 60px;
	line-height: 60px;
/*	border-bottom: 1px solid rgb(216,250,233);*/
	padding: 0 20px;
}
.header-left{
	width: 100%;
	/*height: 100%;*/
	color: rgb(124,218,177);
	text-align: center;
	font-size: 0.9em;
}
.header-left div{
	cursor: pointer;
	/*width: 150px;*/
	text-align: center;
}
.header-left div span{
	font-weight: bold;
	color: rgb(103,209,163);
}
.header i{
	position: absolute;
	top: 18px;
	right: 20px;
	height: 24px;
	width: 24px;
	background: url("../img/c.png") no-repeat;
}
.header-right{
	display: none;
	width: 42%;
	/*height: 100%;*/
	float: right;
}
.header-rightl{
	color: rgb(161,161,161);
	float: left;
	margin-right: 2%;
	cursor: pointer;
}
.header-choose{
	font-weight: bold;
	color: rgb(153,153,153);
}
.header-rightr{
	color: rgb(141,221,116);
	float: right;
	margin-right: 3%;
	cursor: pointer;
	text-align: center;
	/*user-select: none;*/
}
.bg{
	background-color: black;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.4;
	display: none;
}
.header-menu{
	width: 80%;
	height: 99%;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	/*padding-left: 20px;*/
	border: 1px solid rgb(215,215,215);
	display: none;

}
.menu-title{
	height: 60px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid lightgray;

}
.menu-item a{
	color: rgb(152,152,152);
}
.menu-titlel{
	color: rgb(204,204,204);
	font-size: 1.5em;
	font-family: Calibri;
	/*text-indent: -18px;*/
}
.menu-titlem{
	font-size: 0.9em;
	color:rgb(124,218,177);
}
.word-ch{
    color: rgb(100,210,165);
	font-weight: 600;
}
.roll{
	width: 22px;    
	height: 22px;
	/*margin:auto;*/
	background-image: url(../img/roll.png);  
	background-size: 20px 20px;
	border-radius: 50%; 
	background-repeat: no-repeat;
	position: relative;
	top:20px;
}
.menu-item{
	color: rgb(152,152,152);
	border-bottom: 1px solid lightgray;
	line-height: 41px;
	text-indent: 17px;
}
.menu-choose{
	font-weight: bold;
}
.footer{
	width: 100%;
	height: 150px;
	background-color: rgb(40,171,139);
	text-align: center;
	color: white;
	padding-top: 30px;
}
.footer-word{
	margin-bottom: 30px;
	opacity: 0.9;
}
.footer-word span{
	font-weight: bold;
}
.footer-smallword{
	font-size: 8px;
	font-weight: bold;
	opacity: 0.9;
}
.main{
	width: 80%;
	height: 724px;
	margin:auto;
	flex-wrap: wrap;
}
.main-word-top{
	text-align: center;
	height:50px;
	/*margin-top: 90px;*/
	font-size: 2em;
	color: rgb(124,218,177);
	line-height: 20px;
}
.main-word-mid{
	text-align: center;
	/*height: 25px;*/
	font-size: 1em;
}
.main-word-btn{
	height: 70px;
	text-align: center;
	/*font-weight: 600;*/
	line-height: 70px;
	font-size: 1em;
	font-weight: 600;
	/*font-family: STHeiti Light;*/
}
.main-word-btn span{
	/*font-family: STHeiti Light;*/
	font-weight: normal;
	letter-spacing:-2px;
}
.form{
	width: 88%;
	height: 380px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	flex-direction:column;
	align-content: center;
	align-self: center;
	flex-wrap: wrap;	
}
.form-sma{
	width: 100%;
	height: 40px;
	border: 1px solid lightgray;
	color: lightgray;
	font-size: 8px;
	text-indent: 10px;
	line-height: 40px;
	font-style:italic;
}
.form-big{
	width: 100%;
	height: 255px;
	border: 1px solid lightgray;
	color: lightgray;
	font-size: 8px;
	padding: 0;
	text-indent: 10px;
	line-height: 40px;
	font-style:italic;
}
.main-button{
	width: 60%;
	height: 50px;
	margin:auto;
	margin-top: 72px;
	background: rgb(100,210,163);
	line-height: 45px;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
}