*{
	font-family: Microsoft YaHei;
}
div{
	box-sizing: border-box;
}
body{
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	height: 60px;
	line-height: 60px;
/*	border-bottom: 1px solid rgb(216,250,233);*/
	padding: 0 20px;
}
.header-left{
	width: 100%;
	/*height: 100%;*/
	color: rgb(124,218,177);
	text-align: center;
	font-size: 0.9em;
}
.header-left div{
	cursor: pointer;
	/*width: 150px;*/
	text-align: center;
}
.header-left div span{
	font-weight: bold;
	color: rgb(103,209,163);
}
.header i{
	position: absolute;
	top: 18px;
	right: 20px;
	height: 24px;
	width: 24px;
	background: url("../img/c.png") no-repeat;
}
.header-right{
	display: none;
	width: 42%;
	/*height: 100%;*/
	float: right;
}
.header-rightl{
	color: rgb(161,161,161);
	float: left;
	margin-right: 2%;
	cursor: pointer;
}
.header-choose{
	font-weight: bold;
	color: rgb(153,153,153);
}
.header-rightr{
	color: rgb(141,221,116);
	float: right;
	margin-right: 3%;
	cursor: pointer;
	text-align: center;
	/*user-select: none;*/
}
.bg{
	background-color: black;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.4;
	display: none;
}
.header-menu{
	width: 80%;
	height: 124%;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	/*padding-left: 20px;*/
	border: 1px solid rgb(215,215,215);
	display: none;

}
.menu-title{
	height: 60px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid lightgray;

}
.menu-titlel{
	color: rgb(204,204,204);
	font-size: 1.5em;
	font-family: Calibri;
	/*text-indent: -18px;*/
}
.menu-titlem{
	font-size: 0.9em;
	color:rgb(124,218,177);
}
.word-ch{
    color: rgb(100,210,165);
	font-weight: 600;
}
.roll{
	width: 22px;    
	height: 22px;
	/*margin:auto;*/
	background-image: url(../img/roll.png);  
	background-size: 20px 20px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	background-repeat: no-repeat;
	position: relative;
	top:20px;
}
.menu-item{
	color: rgb(152,152,152);
	border-bottom: 1px solid lightgray;
	line-height: 41px;
	text-indent: 17px;
}
.menu-item a{
	color: rgb(152,152,152);
}
.menu-choose{
	font-weight: bold;
}
.main{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.main-title{
	height: 32px;
	margin-bottom: 80px;
	color: #64D2A3;
	font-weight: normal;
	font-size: 2em;
	font-family: "微软雅黑";
}
.main-therapist{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 256px;
	margin-bottom: 16px;
}
.main-therapist-title{
	font-size: 1.5em;
	color: #A49884;
}
.main-therapist-pr{
	display: flex;
	width: 272px;
	height: 64px;
	border-bottom: solid 1px #D8FAE9;
	justify-content: space-between;
	align-items: center;
}
.pr-time{
	display: flex;
}
.pr-time-num{
	color: #64D2A3;
	font-weight: bold;
	font-size: 1.3em;
	margin-right: 3px;
}
.pr-time-unit{
	font-size: 1.3em;
	color: #A69A85;
}
.pr-money{
	font-size: 1.3em;
	color: #A69A85;
}
.main-bookbutton{
	width: 240px;
	height: 48px;
	margin-top: 48px;
	background-color: #64D2A3;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
}
.ft{
	display: flex;
	height: 200px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: #28AB8B;
	margin-top: 112px;
}
.ft-title{
	color: #fff;
	font-size: 0.75em;
}
.ft-title:after{
	content: "massages";
	color: #fff;
	font-size: 0.75em;
	font-weight: bold;
}
.ft-label{
	margin: 0;
	color: #fff;
	font-size: 0.75em;
	font-weight: bold;
}